<div >
  <article>
   
<aside style="float:left">
  <img style="height:150px; width:150px; padding:20px" src="assets/img/main-logo.jpg" alt="logo">
</aside>

<aside style="float:left; margin-top:30px;padding-left: 20px">
<p> <font style="font-family: 'PT Sans', sans-serif; font-size: 30px;color:#3498DB"> National Institute of Technology, Raipur <br>Mess Committee, Hostel-H(Sirpur)</font></p>
</aside>
  </article>

  <br><br><br><br><br><br>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 7px">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active" >
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item"  >
                <a class="nav-link" href="#">Disabled</a>
              </li>
            </ul>
          </div>
        </nav>

</div>


